body {
    margin: 0;
    overflow: hidden;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: #333;
}

.confetti {
    position: absolute;
    background-color: #F00; /* Barva konfet */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: fall 2s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}
